<div class="row">
  <center>
    <img src="{{asset "images/categories.png"}}" class="u-max-full-width" style="width: 80%">
    <ul class="collections">
      <!-- {{#foreach posts}}
        <li><a href="{{url}}">{{title}}</a></li>
      {{/foreach}} -->
      <li><a href="{{@blog.url}}/sara-hamid-engagement-photo-shoot">Sara + Hamid Engagement Photo Shoot</a></li>
      <li><a href="{{@blog.url}}/hampi">Hampi</a></li>
      <li><a href="{{@blog.url}}/sheshadripuram-bangalore">Sheshadripuram</a></li>
      <li><a href="{{@blog.url}}/ann-arbor">Ann Arbor</a></li>
      <li><a href="{{@blog.url}}/pondicherry">Pondicherry</a></li>
      <li><a href="{{@blog.url}}/davis-ca">Davis, CA</a></li>
      <li><a href="{{@blog.url}}/miami">Miami</a></li>
      <li><a href="{{@blog.url}}/puerto-rico">Puerto Rico</a></li>
      <li><a href="{{@blog.url}}/seattle-wa">Seattle, WA</a></li>
    </ul>
  </center>
</div>
