<header>
  <img src="{{asset "images/pramography.png"}}" class="logo u-max-full-width animated bounceInDown">

  <div class="animated bounceInUp">
    {{> "social"}}

    <div class="row links">
      <center>
        <img src="{{asset "images/divider.png"}}" class="u-max-full-width">
        <a href="{{@blog.url}}">HOME</a> / <a href="{{@blog.url/about}}">ABOUT</a> / <a href="mailto:me@sumninjacode.io">CONTACT</a>
        <img src="{{asset "images/divider.png"}}" class="u-max-full-width">
      </center>
    </div>

    {{> "collections"}}
  </div>
</header>
