<header>
  <img src="{{asset "images/pramography.png"}}" class="u-max-full-width animated bounceInDown">

  <div class="animated bounceInUp">
    <div class="row social">
      <div class="two columns">
        <a class="hvr-sink" href="http://facebook.com/pramodsum">
          <img src="{{asset "images/social/Facebook.png"}}" class="u-max-full-width">
        </a>
      </div>
      <div class="two columns">
        <a class="hvr-sink" href="http://twitter.com/pramodsum">
          <img src="{{asset "images/social/Twitter2.png"}}" class="u-max-full-width">
        </a>
      </div>
      <div class="two columns">
        <a class="hvr-sink" href="http://instagram.com/pramodsum">
          <img src="{{asset "images/social/Instagram.png"}}" class="u-max-full-width">
        </a>
      </div>
      <div class="two columns">
        <a class="hvr-sink" href="http://pinterest.com/pramodsum">
          <img src="{{asset "images/social/Pinterest.png"}}" class="u-max-full-width">
        </a>
      </div>
      <div class="two columns">
        <a class="hvr-sink" href="http://linkedin.com/in/pramodsum">
          <img src="{{asset "images/social/Linkedin.png"}}" class="u-max-full-width">
        </a>
      </div>
      <div class="two columns">
        <a class="hvr-sink" href="{{@blog.url}}/rss">
          <img src="{{asset "images/social/RSS.png"}}" class="u-max-full-width">
        </a>
      </div>
    </div>

    <div class="row links">
      <center>
        <div>- - - - - - - - - - - - - - - - - - - -</div>
        <a href="{{@blog.url/about}}">ABOUT</a> / <a href="mailto:me@sumninjacode.io">CONTACT</a>
        <div>- - - - - - - - - - - - - - - - - - - -</div>
      </center>
    </div>
    <div class="row">
      <center>
        <img src="{{asset "images/categories.png"}}" class="u-max-full-width" style="width: 80%">
      </center>
    </div>
  </div>
</header>
